@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Shizuru&family=Zen+Antique+Soft&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(58, 16, 173);
  color: white;
}