@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Shizuru&family=Zen+Antique+Soft&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(58, 16, 173);
  color: white;
}

.header {
  text-align: center;
  margin: 20px;
  color: orange;
  font-family: 'Zen Antique Soft', serif;
}
.alphabet {
  margin: auto;
  margin-top: 10px;
  border: 3px solid rgb(71, 12, 1);
   width: 50%; 
   height: 100%;
   
}
.letter {
  border-left: 2px solid rgb(71, 12, 1);
  border-bottom: 2px solid rgb(71, 12, 1);
  padding: 3px;
  font-family: "work sans";
  font-size: 20px;
  font-weight: bold;
}

.morse { 
  border-bottom: 2px solid rgb(71, 12, 1);
  padding: 3px;
  font-family: "work sans";
  font-size: 25px;
  font-weight: 900;
}
.translator {
  border: 2px solid green;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
 
  
  
}
#input-translator,
#output-translator {
  border: 6px solid brown; 
  border-radius: 10px; 
  font-size: 15px;
  width: 60%;
 
}
.btn-translator {
  display: flex;
}
.btn-convert--translator,
.btn-clear--translator,
.btn-decode--translator {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: orange;
  color: black;
  cursor: pointer;
}
.box {
  flex: 0 2 auto;
}
textarea {
  resize: none;
} 
@media only screen and (max-width: 992px) {
  .morse {
    font-size: 15px;
  }
  h1 {
    font-size: 22px;
  }
  /* .translator {
    flex-direction: column;
    justify-content: center;
} */
.alphabet {
  width: auto;
}
.btn-convert--translator,
.btn-clear--translator,
.btn-decode--translator {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}
#input-translator,
#output-translator {
  width: 100%;
}

}